.home-container{
    margin:20px auto;
    padding-left: 25px;
    padding-right: 25px;
    display: grid;
    gap:20px;
    grid-template-columns: 1fr 4fr;
    position: relative;
}

.fil-container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.prod-container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;


}